*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#704e04, #e2470a);
}

.btn{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    padding: 50;
}

button{
    height: 60px;
    width: 80px;
    text-align: center;
    font-size: 14px;
    border-radius: 16px;
    background-color: black;
    color: white;
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.container{
    background-color: white;
    height: 300px;
    width: 450px;
    margin-left: 520;
    border: 5px solid;
    cursor: text;
    border-radius: 16px;
}